:root{
    font-size: calc(3.89vw + 2px); /* 16px at 360px VW */

    --main-layout-spacing: 2.5rem; 
    /* --main-layout-margin: 0; */



    --white-FFF: #FFFFFF;
    --white-FAF: #FAFAFA;
    /* ----------------- */
    --gray-EDE: #EDEDED;
    --gray-B9B: #B9BABA;
    --gray-AAA: #AAAAAA;
    --gray-666: #666666;
    /* ----------------- */
    --black-333: #333333;
    --black-050: #050505;
    --black-000: #000000;
    /* ----------------- */
    /* --brand-main__color: #1F6EA6; */
    --brand-main__color: #ff5722;
    --brand-second__color: #559;

    --brand-main__font-family: 'Lato', sans-serif;
    --brand-second__font-family: 'Solway', serif;

    --font-weight__light: 300;
    --font-weight__normal: 400;
    --font-weight__bold: 700;

    
    --font-size__h1: 2.4rem;
    --font-size__h2: 2rem;
    --font-size__h3: 1.7rem;
    --font-size__h4: 1.4rem;
    --font-size__p: 1rem;

    /* <link href="https://fonts.googleapis.com/css?family=Lato&display=swap" rel="stylesheet"> */

    
}

*,
*::before,
*::after{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: inherit;
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}

@media(min-width: 375px){
    :root{
        font-size: 16px;

        --main-layout-spacing: 3.75rem; /* 60px */
    }
}

@media(min-width: 720px){
    :root{
        --main-layout-spacing: 4.375rem; 

        --font-size__h1: 2.7rem;
        --font-size__h2: 2.2rem;
        --font-size__h3: 1.9rem;
        --font-size__h4: 1.6rem;
        --font-size__p: 1.2rem;
    }
} 

@media(min-width: 1020px){
    :root{
        --main-layout-spacing: 5rem; 
    
        --font-size__h1: 2.9rem;
        --font-size__h2: 2.4rem;
        --font-size__h3: 1.9rem;
        --font-size__h4: 1.6rem;
        --font-size__p: 1.4rem;
    }
}

@media(min-width: 1320px){
    :root{
        --main-layout-spacing: 6.25rem;

        --font-size__h1: 3rem;
        --font-size__h2: 2.5rem;
        --font-size__h3: 2rem;
        --font-size__h4: 1.7rem;
        --font-size__p: 1.5rem;
    }
}

