/* - */
/* header-splash-image */

:root{
    --header-splash-image__title-wrapper__side-padding: var(--main-layout-spacing);
    --header-splash-image__title-wrapper__bg-opacity: 0.4; /* 0 for no shading on image */

    --header-splash-image__title__color: var(--white-FFF);
    --header-splash-image__title__font-size: 2.5rem;/* 36px */
    --header-splash-image__title__font-family: var(--font-family__metropolis);

    --header-spash-image__max-height: 85vh;

}


.header-splash-image{
    position: relative;
    /* max-height: var(--header-spash-image__max-height); */
}

.header-splash-image__background{
    display: block;
    width: 100%;
    max-width: 100%;
    min-height: 50vh;
    height: auto;
    max-height: var(--header-spash-image__max-height);
    object-fit: cover;
}

.header-splash-image__title-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    background-color: rgba(0,0,0, var(--header-splash-image__title-wrapper__bg-opacity));
    padding: 0 var(--header-splash-image__title-wrapper__side-padding);
}
.header-splash-image__title{
    font-family: var(--header-splash-image__title__font-family);
    font-size: var(--header-splash-image__title__font-size);
    font-weight: 900;
    color: var(--header-splash-image__title__color);
}
.header-splash-image__title__emphasis{
    font-family: var(--header-splash-image__title__emphasis__font-family);
    font-weight: var(--header-splash-image__title__emphasis__font-weight);
    font-style: italic;
}

@media(min-width: 720px){
    :root{
        --header-splash-image__title-wrapper__side-padding: var(--main-layout-spacing);
        --header-splash-image__title__font-size: 2.25rem; /* 40px */
    }
}


@media(min-width: 1020px){
    :root{
        --header-splash-image__title-wrapper__side-padding: var(--main-layout-spacing);
        --header-splash-image__title__font-size: 2.625rem; /* 40px */
    }
}


@media(min-width: 1320px){
    :root{
        --header-splash-image__title-wrapper__side-padding: var(--main-layout-spacing);
        --header-splash-image__title__font-size: 3rem; /* 40px */
    }
}

/* - */
/* /header-splash-image */