/* ---------- module base CSS ---------- */

/* ---------- These are the outside variables this module depends on. Make sure these variables make it into your first imported, base stylesheet or that you add them to this module's CSS, you also have the option of doing a find and replace all on their appearences in this module's CSS if you prefer ---------- */

:root{
    --brand-main__color: #1F6EA6;
    --brand-main__font: 'something';
    --white-FFF: #FFF;
    --gray-EDE: #EDEDED;
}